body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "SF Text";
  src: url("../public/assets/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Bold 폰트 */
@font-face {
  font-family: "SF Text";
  src: url("../public/assets/fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Display";
  src: url("../public/assets/fonts/SF-Pro-Display-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Bold 폰트 */
@font-face {
  font-family: "SF Display";
  src: url("../public/assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../public/assets/fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../public/assets/fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "EBGaramond";
  src: url("../public/assets/fonts/EBGaramond-VariableFont_wght.ttf");
}
